<header>
  <h1><%= @competition.name %></h1>
  <h2>Speedcubing Competition</h2>
  <nav>
    <ul>
      <% { "Informationen" => @competition,
           "Teilnehmer"    => competition_registrations_path(@competition),
           "Zeitplan"      => competition_schedules_path(@competition),
           "Impressum"     => @competition
         }.each do |title, path| %>
        <li<%= ' class="active"'.html_safe if current_page?(path)%>><%= link_to title, path %></li>
      <% end %>
    </ul>
  </nav>
</header>