<header>
  <h1><%= @competition.name %></h1>
  <h2>Speedcubing Competition</h2>
  <nav>
    <ul>
      <% { "Informationen" => root_path(:subdomain => @competition.subdomain),
           "Teilnehmer"    => registrations_path,
           "Zeitplan"      => schedules_path,
           "Impressum"     => root_path(:subdomain => @competition.subdomain)
         }.each do |title, path| %>
        <li<%= ' class="active"'.html_safe if current_page?(path)%>><%= link_to title, path %></li>
      <% end %>
    </ul>
  </nav>
</header>