<%= render "header" %>
<% if can? :create, @competition.registrations.build %>
  <%= link_to "Register", new_competition_registration_path(@competition) %>
<% end %>

<article id="news">
  <h2>News</h2>
  <ul>
    <% @competition.news.each do |news| %>
      <li><%= news.content %></li>
    <% end %>
  </ul>
</article>
<article id="details">
  <%=m @competition.details %>
</article>