<table class="compare">
  <thead>
    <tr>
      <th>Name</th>
      <th>Average</th>
      <th>Single</th>
    </tr>
  </thead>
  <tbody>
    <% @competitors.each do |competitor| %>
      <tr>
        <td class="name"><%= competitor[:participant].full_name %></td>
        <td class="average"><%=ft competitor[:average] %></td>
        <td class="single"><%=ft competitor[:single] %></td>
      </tr>
    <% end %>
  </tbody>
</table>