<div id="compare">
  <%= select :event, :id, options_for_select(@competition.events.official.map { |event| [event.name, compare_competition_registrations_url(@competition, :event_id => event.id)] }, compare_competition_registrations_url(@competition, :event_id => params[:event_id])) %>

  <table class="compare">
    <thead>
      <tr>
        <th>Name</th>
        <% unless @competitors.empty? || @competitors.first[:average].nil? %>
        <th>Average</th>
        <% end %>
        <th>Single</th>
      </tr>
    </thead>
    <tbody>
      <% @competitors.each do |competitor| %>
        <tr>
          <td class="name"><%= competitor[:participant].full_name %></td>
          <% unless competitor[:average].nil? %>
          <td class="average"><%=ft competitor[:average] %></td>
          <% end %>
          <td class="single"><%=ft competitor[:single] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>