#content {
  #news p {
    margin: 0;
  }
  #news .date {
    font-weight: bold;
  }
  #news ul, #details ul {
    padding-left: 40px;
    list-style-type: disc;
  }
  header {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 1em;
    border-bottom: dotted #e1e1e1 1px;
    h1, h2 {
      margin: 0;
      padding: 0;
      border-style: none;
    }
    h2 {
      font-size: 130%;
      color: #a0a0a0;
      margin-top: -10px;
    }
    nav {
      position: absolute;
      right: 10px;
      top: 20px;
      li {
        float: left;
        padding: 0px 6px 2px 6px;
        margin-right: 1.5em;
      }
      li.active {
        border-bottom: 5px solid #e40000;
      }
    }
    a, a:visited {
      text-decoration: none;
      color: black;
    }
  }

  #competitors {
    border-collapse: collapse;
    td, th {
      padding: 5px;
    }
    th {
      background-color: #476B77;
      color: white;
    }
    tr.even { /* FIXME: use n-th child, doesn't work in IE8, though */
      background-color: white;
    }
    tr.odd {
      background-color: #eeeeee;
    }
    tbody tr:hover {
      background: silver;
    }
    td.competitors_hover {
      background: silver;
    }
    td, th {
      border: 1px solid #E0E0E0;
    }
  }
}