#content {
  img.logo {
    float: right;
  }
  article {
    p {
      margin-bottom: 1em;
    }
    ul {
      margin-bottom: 1em;
      padding-left: 40px;
      list-style-type: disc;
    }
    em {
      font-style: italic;
    }
    strong {
      font-weight: bold;
    }
    ul {
      padding-left: 40px;
      list-style-type: disc;
    }
  }
  #news p {
    margin: 0;
  }
  #news .date {
    font-weight: bold;
  }

  header {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 1em;
    border-bottom: dotted #e1e1e1 1px;
    h1, h2 {
      margin: 0;
      padding: 0;
      border-style: none;
    }
    h2 {
      font-size: 130%;
      color: #a0a0a0;
      margin-top: -10px;
    }
    nav {
      position: absolute;
      right: 10px;
      top: 20px;
      li {
        float: left;
        padding: 0px 6px 2px 6px;
        margin-right: 1.5em;
      }
      li.active {
        border-bottom: 5px solid #e40000;
      }
    }
    a, a:visited {
      text-decoration: none;
      color: black;
    }
  }

  table {
    border-collapse: collapse;
    td, th {
      padding: 5px;
    }
    th {
      background-color: #476B77;
      color: white;
      text-align: center;
    }
    tr.even { /* FIXME: use n-th child, doesn't work in IE8, though */
      background-color: white;
    }
    tr.odd {
      background-color: #eeeeee;
    }
    tbody tr:hover {
      background: silver;
    }
    td.competitors_hover {
      background: silver;
    }
    td, th {
      border: 1px solid #E0E0E0;
    }
  }

  table.schedule td {
    text-align: center;
  }

  table.compare {
    td.single, td.average {
      text-align: right;
    }
  }

  #new_registration, #edit_registration {
    fieldset.events, fieldset.guest {
      padding-left: 1em;
    }
  }
}