#content { /* TODO should be competition */
  #news ul, #details ul {
    padding-left: 40px;
    list-style-type: disc;
  }
  #details {
    p, ul {
      margin-bottom: 1em;
    }
    em {
      font-style: italic;
    }
    strong {
      font-weight: bold;
    }
  }
}