@import "colors";

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #222;
  border-top: solid $main_color 1.5em;
  background: #fff image-url("background.png") repeat-x;
}

h1, h2, h3 {
  margin-bottom: 20px;
  margin-top: 15px;
  font-weight: normal;
  color: #3E3E3E;
  border-bottom: dotted #e1e1e1 1px;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 220%;
}

h3 {
  font-size: 150%;
}

#content {
  width: 850px;
  margin: 0 auto;
  p {
    margin-bottom: 1em;
  }
}

em {
  font-style: italic;
}
strong {
  font-weight: bold;
}

article.textile, p.textile, div.textile {
  p {
    margin-bottom: 1em;
  }
  ul {
    margin-bottom: 1em;
    padding-left: 40px;
    list-style-type: disc;
  }
}

.ui-autocomplete-loading {
  background: white image-url("ajax-loader.gif") right center no-repeat;;
}

ul.ui-autocomplete {
  width: 270px;
  line-height: 14pt;
  overflow: auto;
  max-height: 180px;
  border: 1px solid black;

  li {
    line-height: 16px;
  }
  li a {
    padding: 2px 5px;
    display: block;
  }
  li .ui-state-hover {
    background-color: #0a246a;
    color: white;
  }
  li:nth-child(2n) {
    background-color: #eee;
  }
  li:nth-child(2n+1) {
    background-color: #fff;
  }
}