<header id="header">
  <ul id="localeselect">
    <% Rails.application.config.available_locales.each do |locale| %>
      <li>
        <%= link_to_flag locale %>
      </li>
    <% end %>
  </ul>
  <%= link_to "WCA", "http://www.worldcubeassociation.org/", :class => "wca" %>
</header>