<header id="header">
  <% if logged_in? %>
    <p>
      Logged in as <%= current_user.name %>
      <%= link_to "Log out", log_out_path %>
    </p>
  <% end %>
  <ul id="localeselect">
    <% I18n.available_locales.each do |locale| %>
      <li>
        <%= link_to_flag locale %>
      </li>
    <% end %>
  </ul>
  <%= link_to "WCA", "http://www.worldcubeassociation.org/", :class => "wca" %>
</header>